@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
.container {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    background-color: #7952B3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.main_box .box h1 {
    text-align: center;
    width: 300px;
    color: #fff;
    background-color: #000;
    margin: 1rem;
    padding: 1.5rem 3rem;
    border-radius: 20px;
    font-size: 8rem;
}
.main_box .box p {
    font-weight: 400;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2px;
}